html {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 252, 247);
}
body {
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    margin: 0;
    
}

a {
  text-decoration: none;
  color: rgba(255, 247, 234, 0.911);
}
nav {
  background-color: cadetblue;
}
nav ul{
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  color: #40513B;

}

#home-icon{
  font-size: 3em;
}

#non-home-nav {
  width: 60%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.2em;
}

:root {
  text-size-adjust: 100%;
}
